@media (min-width: 1400px)
	.container
		max-width: 1140px
@media (max-width: 1199px)
	.hrs 
		width: 135px
		margin: 17px auto 14px auto
	.object
		font-size: 19px
		line-height: 22px
	.title 
		font-size: 23px
	.header 
		margin-bottom: 50px
		&__logo
			img 
				width: 80%
		&__nav
			width: 490px
			ul 
				li.br:after
					display: none
				a 
					font-size: 14px 
					line-height: 16px

		&__phone 
			margin-left: 0
			&-number
				font-size: 17px
				line-height: 17px
			&-subtext
				font-size: 13px
				line-height: 16px
		&__button
			width: 135px
			height: 40px
	.promo 
		&__subtitle
			font-size: 20px
		&__title
			font-size: 60px
			margin: 10px 0px 4px 0px
		&__undertitle
			font-size: 36px
		&__line
			margin: 28px auto 28px auto
		&__service
			margin-top: 50px
		&__item
			&-sub
				font-size: 14px
				line-height: 20px
			img 
				width: 85%
		&__button
			width: 220px
			height: 55px
			font-size: 14px
			margin-top: 75px
	.advantages
		min-height: 560px
		padding-top: $pt_1199
		&__title
			margin-bottom: 25px
		&__item
			img 
				width: 85%
			&:not(:last-child)
				margin-bottom: 30px
			&-title
				font-size: 15px
			&-undertitle
				font-size: 13px
				line-height: 21px
	.job 
		min-height: 574px
		padding-top: $pt_1199
		&__items
			margin-top: 29px
		&__item
			&-text
				margin-top: 20px
			&-title
				font-size: 16px
			&-undertitle
				line-height: 22px
				font-size: 13px
	.agent, .company 
		min-height: 315px
		padding-top: 52px
		&__img
			width: 95px
			height: 95px
			img
				width: 50%
		&__title
			font-size: 22px
			margin-bottom: 11px
		&__undertitle
			font-size: 17px
			line-height: 24px
	.delivery
		padding-top: $pt_1199
		&__items
			margin-top: 25px
		&__item
			min-height: 315px
			&-head
				height: 50px
				font-size: 13px
			&-body
				padding: 7px 10px 17px 10px
			&-deadline
				margin-top: 7px
				font-size: 13px
				line-height: 23px
			&-price
				font-size: 14px
				line-height: 22px
			&-undertext
				font-size: 13px
				line-height: 17px
				margin: 14px 0px 18px 0px
	.consultation
		padding: $pt_1199 0px 58px 0px
		&__button
			width: 165px
			height: 40px
		&__title
			font-size: 25px
			margin-bottom: 65px
		&__form
			height: 160px
			input 
				height: 42px
				padding: 0px 25px
				width: 260px
				font-size: 13px
		&__img
			width: 95px
			height: 95px
			img 
				width: 60%
	.scheme
		min-height: 425px
		padding-top: $pt_1199
		&__items
			margin-top: 20px
		&__row:not(:last-child)
			margin-bottom: 15px
		&__item
			img
				width: 85%
			&-title
				font-size: 14px
			&-undertitle
				font-size: 12px
				line-height: 19px
	.review
		min-height: 430px
		padding-top: $pt_1199
		&__underhr
			font-size: 18px
			line-height: 20px
		&__slider
			width: 500px
			margin: 26px auto 0px
		&__undertitle
			font-size: 13.1px
			line-height: 21px
		&__title
			font-size: 17px
		&__next
			right: 155px
		&__prev
			left: 155px
		&__next, &__prev
			img 
				width: 12px
	.message
		min-height: 415px
		padding-top: 45px
		&__title
			font-size: 17px
		&__undertitle
			font-size: 12px
		&__form
			width: 848px
			height: 297px
			input 
				padding: 0px 20px
				width: 260px
				height: 50px
			&-head
				height: 65px
			&-body
				height: 220px
				padding: 13px 30px 17px 30px
			input, textarea
				font-size: 12px
			textarea
				padding: 15px 20px
	.map 
		min-height: 445px
		iframe
			height: 445px
@media (max-width: 991px)
	.title 
		font-size: 21px
	.hrs 
		width: 120px
		margin: 14px auto 14px auto
	.object
		font-size: 17px
		line-height: 20px
	.button 
		font-size: 11px
	.header 
		margin-bottom: 37px
		&__nav
			ul 
				a 
					font-size: 12px
		&__col
			&_discol
				flex-direction: column
				justify-content: center
		&__phone
			&-subtext
				display: none
			&-number
				font-size: 15px
				line-height: 28px
	.promo 
		&__subtitle
			font-size: 19px
		&__title
			font-size: 55px
			margin: 10px 0px 4px 0px
		&__undertitle
			font-size: 32px
		&__line
			margin: 36px auto 18px auto
		&__service
			margin-top: 59px
		&__item
			&-img
				width: 60px
				height: 55px
				margin: 0px auto 5px auto
			&-sub
				font-size: 13px
				line-height: 19px
		&__button
			width: 205px
			height: 50px
			font-size: 14px
	.advantages
		padding-top: $pt_991
		&__title
			margin-bottom: 18px
		&__item
			min-height: 90px
			&:not(:last-child)
				margin-bottom: 15px
			&-img
				min-width: 58px
				margin-top: 11px
			&-title
				font-size: 14px
			&-undertitle
				font-size: 12px
				line-height: 18px
	.job 
		padding-top: $pt_991
	.agent, .company 
		min-height: 300px
		padding-top: 40px
		&__img 
			width: 80px
			height: 80px
		&__title
			font-size: 18px
		&__undertitle
			font-size: 15px
			line-height: 24px
	.delivery
		padding-top: $pt_991
		&__item
			margin-bottom: 20px
			&-body
				padding: 10px 15px 17px 15px
			&-deadline
				font-size: 14px
			&-price
				font-size: 20px
	.consultation
		padding-top: 15px
		&__title
			font-size: 23px
		&__img
			width: 80px 
			height: 80px
			&-abs
				top: -40px
				width: 100px
		&__button
			width: 150px
			height: 38px
			&-abs
				width: 175px
				bottom: -19px
		&__form
			input 
				width: 195px
				font-size: 12px
				padding: 0px 20px
	.scheme
		padding-top: $pt_991
	.review
		padding-top: $pt_991
		min-height: 390px
		&__underhr
			font-size: 16px
			line-height: 18px
		&__slider
			width: 400px
		&__prev
			left: 111px
		&__next
			right: 111px
	.message 
		padding-top: 35px
		min-height: 380px
		&__form
			width: 700px
			input
				width: 210px
			&-body
				height: 230px
				padding: 18px 30px 17px 30px
	.footer 
		&__head
			&-title
				font-size: 15px
				margin-left: 33px
			&-phone
				position: relative
			&-tel
				position: absolute
				top: -23px
				left: 30px
				margin-right: 0px
				a 
					display: none
@media (max-width: 767px)
	.object
		font-size: 15px
	.header
		.hamburger
			display: flex
		&__nav
			display: none
		&__col
			&_discol
				flex-direction: row
				justify-content: space-between
		&__phone
			&-subtext
				display: block
				line-height: 20px
				font-size: 13px
	.promo 
		height: 750px
		&__service
			margin-top: 25px
		&__title
			font-size: 41px
		&__undertitle
			font-size: 25px
		&__line
			margin: 29px auto 18px auto
		&__item
			margin-top: 20px
	.advantages
		min-height: 600px
		&__item
			&-img
				min-width: 50px
				margin-right: 0px
			&-title
				font-size: 12px
				line-height: 15px
	.job
		padding-bottom: 30px
		&__item
			margin-bottom: 20px
			border-bottom: 1px solid #000000
			&-text
				margin-top: 5px
	.agent, .company 
		min-height: 260px
		padding-top: 30px
		&__title
			font-size: 17px
		&__undertitle
			font-size: 14px
			line-height: 21px
	.delivery
		&__item
			min-height: 300px
			&-undertext
				margin: 5px 0px 12px 0px
	.consultation
		&__title
			font-size: 20px
		&__form
			input 
				width: 156px
				margin-right: 0px
				font-size: 11px
				padding: 13px
	.scheme 
		min-height: 600px
		&__items
			margin-top: 0px
		&__row
			.scheme__item
				margin-top: 15px
	.review
		padding-top: 20px
		min-height: 370px
	.message
		min-height: 340px
		&__title
			font-size: 14px
		&__undertitle
			font-size: 11px
		&__form
			width: 100%
			height: 270px
			input 
				width: 149px
				padding: 0px 13px
				height: 45px
			input, textarea
				font-size: 11px
			&-head
				height: 51px
			&-body
				height: 217px
	.map
		min-height: 405px
		&__info
			height: 145px
			width: 290px
		iframe
			height: 405px
	.footer 
		min-height: 160px
		padding-top: 18px
		&__head
			&-title
				display: none
			&-tel
				position: unset
				margin-right: 20px
				font-size: 13px
				line-height: 23px
				a 
					display: inline
					font-size: 17px
					line-height: 17px
		&__line
			margin: 10px 0px 8px 0px
@media (max-width: 575px)
	.menu 
		width: 70%
		height: 60%
		ul 
			li
				&:not(:last-child)
					margin-bottom: 0
				a 
					font-size: 16px
	.button
		font-size: 10px
		width: 120px
		height: 34px
	.object
		font-size: 14px
		line-height: 18px
	.title 
		font-size: 17px
	.hrs 
		margin: 8px auto 6px auto
	.header 
		margin-bottom: 15px
		&__phone
			display: none
	.promo 
		height: 650px
		padding-top: $pt_575
		&__subtitle
			display: none
		&__title
			font-size: 23px
		&__undertitle
			font-size: 18px
		&__line
			margin: 22px auto 0px auto
		&__service
			margin-top: 7px
		&__button
			width: 155px
			font-size: 12px
			height: 42px
			margin-top: 25px
		&__item 
			display: flex
			text-align: left
			&-img
				margin: 0px 20px 0px 0px
				img 
					width: 50px
			&-sub
				font-size: 14px
				line-height: 20px
	.advantages
		padding-top: $pt_575
		padding-bottom: 20px
		&__title
			margin-bottom: 0
		&__item 
			margin-bottom: 0px
			margin-top: 15px
			&-title
				font-size: 13px
				line-height: 23px
	.job 
		padding-top: $pt_575
	.consultation
		&__title
			font-size: 15px
			margin-bottom: 54px
		&__form 
			height: 280px
			padding: 50px 0px 35px 0px
			flex-direction: column
			justify-content: space-around
			input
				width: 235px
				font-size: 12px
				padding: 0px 15px
	.agent, .company 
		min-height: 235px
		padding-top: 22px
		&__title
			font-size: 16px
			margin-bottom: 1px
			margin-top: 11px
		&__undertitle
			font-size: 14px
			line-height: 19px
	.delivery
		padding-top: $pt_575
		&__items
			margin-top: 16px
		&__item 
			min-height: 285px
			&-head
				height: 40px
	.scheme
		padding-top: $pt_575
		padding-bottom: 20px
	.review
		padding-top: $pt_575
		min-height: 430px
		padding-bottom: 20px
		&__slider
			width: 100%
		&__prev
			left: 60px
		&__next
			right: 60px
	.message
		padding-top: 25px
		padding-bottom: 25px
		&__form
			height: 350px
			&-body
				height: 295px
				padding: 10px 20px 10px 20px
			input 
				width: 100%
				padding: 0px 20px
				height: 42px
			input, textarea
				font-size: 12px
				margin-top: 5px
		&__title
			font-size: 13px
		&__undertitle
			font-size: 10px
	.footer 
		min-height: 136px
		padding-top: 17px
		&__head 
			&-intro
				img
					width: 52px
					height: 53px
			&-tel
				position: absolute
				left: 20px
				line-height: 28px
				margin-right: 0
				font-size: 13px
				a 	
					display: none
		&__under
			&-ownership
				font-size: 11px
			&-privacy
				font-size: 11px
			&-sub
				display: none