@media (max-width: 1199px)
	.hrs 
		width: 135px
		margin: 17px auto 14px auto
	.object
		font-size: 19px
		line-height: 22px
	.title 
		font-size: 23px
	.header 
		margin-bottom: 50px
		&__logo
			img 
				width: 80%
		&__nav
			width: 490px
			ul 
				li.br:after
					display: none
				a 
					font-size: 14px 
					line-height: 16px

		&__phone 
			margin-left: 0
			&-number
				font-size: 17px
				line-height: 17px
			&-subtext
				font-size: 13px
				line-height: 16px
		&__button
			width: 135px
			height: 40px
	.promo 
		&__subtitle
			font-size: 20px
		&__title
			font-size: 60px
			margin: 10px 0px 4px 0px
		&__undertitle
			font-size: 36px
		&__line
			margin: 28px auto 28px auto
		&__service
			margin-top: 50px
		&__item
			&-sub
				font-size: 14px
				line-height: 20px
			img 
				width: 85%
		&__button
			width: 220px
			height: 55px
			font-size: 14px
			margin-top: 75px
	.advantages
		min-height: 560px
		padding-top: $pt_1199
		&__title
			margin-bottom: 25px
		&__item
			img 
				width: 85%
			&:not(:last-child)
				margin-bottom: 30px
			&-title
				font-style: 15px
			&-undertitle
				font-size: 13px
				line-height: 21px
	.job 
		min-height: 574px
		padding-top: $pt_1199
		&__items
			margin-top: 29px
		&__item
			&-text
				margin-top: 20px
			&-title
				font-size: 16px
			&-undertitle
				line-height: 22px
				font-size: 13px
	.agent, .company 
		min-height: 315px
		padding-top: 52px
		&__img
			width: 95px
			height: 95px
			img
				width: 50%
		&__title
			font-size: 22px
			margin-bottom: 11px
		&__undertitle
			font-size: 17px
			line-height: 24px
	.delivery
		padding-top: $pt_1199
		&__items
			margin-top: 25px
		&__item
			height: 315px
			&-head
				height: 50px
				font-size: 13px
			&-body
				padding: 7px 10px 17px 10px
			&-deadline
				margin-top: 7px
				font-size: 13px
				line-height: 23px
			&-price
				font-size: 14px
				line-height: 22px
			&-undertext
				font-size: 13px
				line-height: 17px
				margin: 14px 0px 18px 0px
	.consultation
		padding: $pt_1199 0px 58px 0px
		&__button
			width: 165px
			height: 40px
		&__title
			font-size: 25px
			margin-bottom: 65px
		&__form
			height: 160px
			input 
				height: 42px
				padding: 0px 25px
				width: 260px
				font-size: 13px
		&__img
			width: 95px
			height: 95px
			img 
				width: 60%
	.scheme
		min-height: 425px
		padding-top: $pt_1199
		&__items
			margin-top: 20px
		&__row:not(:last-child)
			margin-bottom: 15px
		&__item
			img
				width: 85%
			&-title
				font-size: 14px
			&-undertitle
				font-size: 12px
				line-height: 19px
	.review
		min-height: 430px
		padding-top: $pt_1199
		&__undertitle
			font-size: 13.1px
			line-height: 21px
		&__title
			font-size: 17px
	.message
		min-height: 415px
		padding-top: 45px
		&__title
			font-size: 17px
		&__undertitle
			font-size: 12px
		&__form
			width: 848px
			height: 297px
			input 
				padding: 0px 20px
				width: 260px
				height: 50px
			&-head
				height: 65px
			&-body
				height: 220px
				padding: 13px 30px 17px 30px
			input, textarea
				font-size: 12px
			textarea
				padding: 15px 20px
	.map 
		min-height: 445px
		iframe
			height: 445px